{{>layout/header}}A

"Register Mode"
Query ITEMS With BarCode

<script type="text/javascript">
    function barcode(e){
        var event=window.event || e;

        if(event.keyCode=="13"){
            alert(document.getElementById("barcode-input").value);
            /**
             *  Remove Text Box
             */

            document.getElementById("barcode-input").value = "";
        }



    }
</script>

<style>
    .section {
        height: 50vw;
        width: 100vw;
    }

    .query-input {
        width: 50%;
        height: 80%;
        margin: 0 auto;
        border: none;
    }


</style>

<div class="query-section section">

    <input type="text" class="query-input" id="barcode-input" onkeydown="barcode();" placeholder="Search Barcode">
    <a href="/register/save" role="button" class="btn btn-secondary">Create</a>
</div>

<div class="result-section section">
    <h1>
        result section
    </h1>

    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>Item-Number</th>
            <th>Title</th>
            <th>barcode</th>
            <th>price</th>
            <th>last-modified</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#items}}  <!-- 1  posts라는 List를 순회, Java의 for 문과 동일-->
        <tr>
            <td id="id">{{id}}</td>    <!-- 2 List에서 뽑아낸 객체의 필드를 사용-->
            <td><a href="items/update/{{id}}"> {{title}} </a></td>
            <td>{{barcode}}</td>
            <td>{{price}}</td>
            <td><a href="items/update/{{id}}"> edit </a></td>
            <td> delete </td>
        </tr>
        {{/items}}
        </tbody>
    </table>


</div>


CREATE - items
UPDATE - items


{{>layout/footer}}